@page "/RoomView"
@using HotelBlazro.Data
@inject HotelService _service

<h3>Rooms</h3>
<div class="card-columns">
    @foreach (var room in _rooms)
    {
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h4 class="card-title">Room : @room.Name</h4>
                <p class="card-text">Nmr: @room.RoomNumber</p>
                <p class="card-text">Persons @room.Persons</p>
                <p class="card-text">Price @room.Price Euro</p>
                <p class="card-text">
                    <input checked="@room.Active" type="checkbox" value="@room.Active" disabled="disabled">
                </p>
                <Supplements SupplementsList="@room.Supplements"></Supplements>
            </div>
            <NavLink href="@($"Create/{@room.Id.ToString()}")"  class="btn btn-info form-control">Edit Room</NavLink>
            <NavLink href="Delete" class="btn btn-info form-control">Delete Room</NavLink>
        </div>
    }
</div>

@code {

    private List<Room> _rooms;


    protected override void OnInitialized()
    {
        _rooms = _service.Rooms();
    }

}