@using HotelBlazro.Data
@inject IHotelService _service
@inject IJSRuntime JsRuntime
<div class="card-body">
    <div class="card  bg-info text-white">
        Supplements

        @if (_supplements!=null)
        {
             @foreach (var supp in _supplements)
                    {
                        <div class="card">
                            <div class="card-body  bg-info text-white">
                                <h5 class="card-title">Description : @supp.Description</h5>
                                <p class="card-text">
                                    Price : @supp.Price
                                </p>
                                <p class="card-text">
                                    <input checked="@supp.Selected" type="checkbox" value="@supp.Selected" disabled="disabled">
            
                                </p>
                            </div>
                            <button @onclick="() => Selected(supp)">Edit</button>
                             <button @onclick="() => Delete(supp)">Delete</button>
                        </div>
                    }
        }
       
    </div>
</div>
<CreateEditSuppl Id="@Id" ValueChanged="ListChanged" ></CreateEditSuppl>
@code {
    

    private int Id
    {
        get => _id;
        set
        {
            _id = value;
            InvokeAsync(StateHasChanged);
        }
    }

    private List<Supplement> _supplements;

    protected override async Task OnInitializedAsync()
    {
        _supplements = await _service.Supplements();
    }
    private void Selected(Supplement supp)
    {
        Id = supp.Id;
    }

    private int _id;

    private async Task Delete(Supplement supplement)
    {
        _service.Delete(supplement);
        await JsRuntime.ShowSucces("Room Deleted");
        await  OnInitializedAsync();
    }

    public  async Task ListChanged(Supplement supplement)
    {
      await  OnInitializedAsync();
    }

}