@using HotelBlazro.Data
<div class="card-body">
    <div class="card  bg-info text-white">
        Supplements

        @if (SupplementsList!=null)
        {
             @foreach (var supp in SupplementsList)
                    {
                        <div class="card">
                            <div class="card-body  bg-info text-white">
                                <h5 class="card-title">Description : @supp.Description</h5>
                                <p class="card-text">
                                    Price : @supp.Price
                                </p>
                                <p class="card-text">
                                    <input checked="@supp.Selected" type="checkbox" value="@supp.Selected" disabled="disabled">
            
                                </p>
                            </div>
                             <button @onclick="() => Selected(supp)">Edit</button>
                        </div>
                    }
        }
       
    </div>
</div>
<CreateEditSuppl Id="@Id" ></CreateEditSuppl>
@code {
    [Parameter]
    public List<Supplement> SupplementsList { get; set; }

    private int Id
    {
        get => _id;
        set
        {
            _id = value;
            InvokeAsync(StateHasChanged);
        }
    }


    private void Selected(Supplement supp)
    {
        Id = supp.Id;
    }

    private int _id;
}